.Modal {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.052);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.Modal__container {
  padding: 1.5rem 2.5rem;
  margin-top: 10rem;
  width: 650px;
  height: 350px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  transition: all 900ms easy 0s;
  animation: fadeIn 0.5s;
}
.Modal__container-title {
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(247, 247, 247); */
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}
.Modal__container-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(1%) scale(1);
  }
}
