.MainCatalog {
  /* background-color: rgb(255, 255, 255); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  position: absolute;
  z-index: 1000;

  margin-top: 9.4rem;
  top: 0;
  left: 0;
  background-color: rgba(178, 178, 178, 0.5);
}

.MainCatalog__container {
  background-color: rgb(255, 255, 255);
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  max-width: 1470px;
  min-height: 300px;
  height: 1000px;
  box-shadow: 0 0px 20px 2px rgb(154, 154, 154);
}

.MainCatalog__container-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.MainCatalog__container-ul-li {
  box-sizing: border-box;
}
.MainCatalog__container-ul-li-text:hover {
  color: var(--bg-button-hover);
}
