.PasswordErrorNotification {
  width: 250px;
  /* height: 30px; */
  padding: 0.2rem;
  border-radius: 5px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  /* margin-top: 2rem; */
  /* background-color: #fbfbfb; */
  color: #e20202;
}
