.MainHeader {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */

  /* border: 1px solid black; */
}
.MainHeader__container {
  /* border: 1px solid black; */
  width: 1580px;
  height: 100px;
  /* background-color: var(--bg-top-panel); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(45, 45, 45);
}

.MainHeader__container-search {
  width: 100%;
  max-width: 900px;

  height: 50px;
  display: flex;

  /* border: 1px solid black; */
}

.MainHeader__container-search input {
  /* max-width: 850px; */
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgb(128, 128, 128);
  padding: 1rem;
  box-sizing: border-box;
}
.MainHeader__container-search-button {
  width: 50px;
  background-color: rgb(113, 136, 212);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
}
.MainHeader__container-search-button img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(132deg) brightness(105%) contrast(102%);
}

.MainHeader__container-search-button:hover {
  background-color: rgb(128, 149, 217);
  cursor: pointer;
}

.MainHeader__container-controls {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.MainHeader__container-controls img {
}
.MainHeader__container-controls-count-ruble {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.MainHeader__container-controls-ruble {
  background-color: var(--filter-controls);
}

.MainHeader__container-controls-user {
  cursor: pointer;
}
