.RecoverPassword {
  height: 618px;

  display: flex;
  justify-content: center;
}
.RecoverPassword__container {
  width: 1562px;
  height: 244px;
  /* border: 1px solid black; */
  margin-top: 2rem;
  padding-top: 3rem;
}
.RecoverPassword__container-form {
  height: 184px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  /* border: 1px solid black; */
}
.RecoverPassword__container-input {
  margin-top: 0.5rem;
  width: 710px;
  height: 30px;
  border-radius: 5px;
  padding: 6.4px 10px;
  border: 1px solid #2d2d2d;
}
.RecoverPassword__container-form-button {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}
.RecoverPassword__container-form-button-restore {
  width: 190px;
  height: 40px;
  color: #ffff;
  font-size: 14px;
  padding: 0 16px;
  background-color: var(--bg-button);
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}
.RecoverPassword__container-form-button-remembered {
  width: 174px;
  height: 24px;
  font-size: 14px;
  color: var(--bg-button);
  border: transparent;
  background-color: #ffff;
  border-bottom: 1px dotted var(--bg-button);
  cursor: pointer;
}
